@font-face {
  font-family: 'TestTiemposFine-Black-BF66457a508fe8f';
  src: url('../fonts/TestTiemposFine-Black-BF66457a508fe8f.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestTiemposFine-BlackItalic-BF66457a510424a';
  src: url('../fonts/TestTiemposFine-BlackItalic-BF66457a510424a.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestTiemposFine-Bold-BF66457a510211b';
  src: url('../fonts/TestTiemposFine-Bold-BF66457a510211b.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestTiemposFine-BoldItalic-BF66457a50b8568';
  src: url('../fonts/TestTiemposFine-BoldItalic-BF66457a50b8568.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestTiemposFine-Light-BF66457a5102792';
  src: url('../fonts/TestTiemposFine-Light-BF66457a5102792.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestTiemposFine-LightItalic-BF66457a50eb132';
  src: url('../fonts/TestTiemposFine-LightItalic-BF66457a50eb132.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestTiemposFine-Medium-BF66457a50e62cd';
  src: url('../fonts/TestTiemposFine-Medium-BF66457a50e62cd.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestTiemposFine-MediumItalic-BF66457a511be83';
  src: url('../fonts/TestTiemposFine-MediumItalic-BF66457a511be83.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestTiemposFine-Regular-BF66457a50e8bc9';
  src: url('../fonts/TestTiemposFine-Regular-BF66457a50e8bc9.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestTiemposFine-RegularItalic-BF66457a50e36f9';
  src: url('../fonts/TestTiemposFine-RegularItalic-BF66457a50e36f9.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestTiemposFine-Semibold-BF66457a50f016a';
  src: url('../fonts/TestTiemposFine-Semibold-BF66457a50f016a.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TestTiemposFine-SemiboldItalic-BF66457a50b0e18';
  src: url('../fonts/TestTiemposFine-SemiboldItalic-BF66457a50b0e18.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}