//>>>>> Header Main Start <<<<<//
.menu-thumb {
	@include breakpoint (max-xl){
		display: none !important;
	}
}

.header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	
	.main-menu {
		ul {
			margin-bottom: 0;

			li {
				position: relative;
				list-style: none;
				display: inline-block;
				margin-inline-end: 50px;

				@include breakpoint (max-xxl){
					margin-inline-end: 25px;
				}
	
			&:last-child {
				margin-inline-end: 0;
			}
	
			a {
				display: inline-block;
				font-size: 16px;
				font-weight: 600;
				color:  $gt-white;
                font-family: $gt-body-font;
				padding: 20px 0;
				text-align: left;
				position: relative;
				text-transform: uppercase;
				@include transition;

				i {
					margin-left: 4px;
                    font-size: 14px;
				}
	
				&:hover {
					color: $gt-theme-color !important;
				}
	
			}
			.submenu {
				position: absolute;
				top: 115%;
				inset-inline-start: 0;
				min-width: 240px;
				padding: 20px 0;
				z-index: 99999;
				visibility: hidden;
				opacity: 0;
				transform-origin: top center;
				color: $gt-header-color;
				transform: translateY(-10px);
				@include transition;
				border-top: 3px solid $gt-theme-color;
				background-color: #0B0E13;
    			box-shadow: rgba(0, 0, 0, 0.9) 0px 8px 24px;

				li {
					display: block;
					width: 100%;
					margin: 0;
					
	
					a {
						position: relative;
						z-index: 11;
						font-size: 16px;
						font-weight: 600;
						color: $gt-header-color;
						line-height: 38px;
   						padding: 0px 0px 0px 32px;
                        padding-right: 22px;
						width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

						&::before {
							content: "";
							position: absolute;
							width: 0px;
							height: 2px;
							background: $gt-theme-color;
							left: 14px;
							bottom: 18px;
							transition: all 0.4s ease-in-out;
						}

						&:hover {
							color: $gt-theme-color !important;
						}
					}
					&:last-child {
						a {
							border: none;
						}
					}
					.submenu {
						inset-inline-start: 100%;
						top: 0;
						visibility: hidden;
						opacity: 0;
					}
					&:hover {
						>a {
							color: $gt-theme-color !important;
							margin-left: 10px;

							&::before {
								width: 10px;
							}

							&::after {
								color: $gt-theme-color;
							}
						}
						>.submenu {
							-webkit-transform: translateY(1);
							-moz-transform: translateY(1);
							-ms-transform: translateY(1);
							-o-transform: translateY(1);
							transform: translateY(1);
							visibility: visible;
							opacity: 1;
						}
					}
				}
				li.has-dropdown {
					>a {
						&::after {
							position: absolute;
							top: 50%;
							inset-inline-end: 25px;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
							color: $gt-theme-color;
						}
					}
				}
			}

			.has-homemenu {
				width: 1100px;
				padding: 30px 30px 10px 30px;
				opacity: 0;
				left: -90px;
				visibility: hidden;
				padding: 30px 30px 10px 30px;

				.homemenu-items {
					@include flex;
					gap: 30px;
					justify-content: space-between;

					@include breakpoint (max-lg){
						flex-wrap: wrap;
					}

					.homemenu {
						position: relative;
						.homemenu-thumb {
							position: relative;
	
							.demo-button {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								gap: 10px;
								opacity: 0;
								visibility: hidden;
								@include transition;
								margin-top: 20px;
								text-align: center;
	
								.theme-btn {
									padding: 5px 15px;
									color: var(--gt-white) !important;
									min-width: 140px;
									width: 100%;
									text-align: center;
									justify-content: center;
									background: $gt-theme-color !important;
									border-radius: 6px;

									&:hover {
										background-color: $gt-header-color !important;
										color: $gt-header-color-3 !important;
									}
								}
							}
	
							&::before {
								background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 19, 19, 0)), to(#5e5ef6));
								background: linear-gradient(to bottom, rgba(99, 92, 92, 0) 0%, #252527 100%);
								background-repeat: no-repeat;
								background-size: cover;
								background-position: center;
								width: 100%;
								height: 100%;
								position: absolute;
								left: 0;
								top: 0;
								overflow: hidden;
								opacity: 0;
								-webkit-transition: all 0.3s ease-in-out;
								transition: all 0.3s ease-in-out;
								content: "";
							}
							&:hover{
	
								&::before {
									visibility: visible;
									opacity: 1;
								}
	
								.demo-button {
									opacity: 1;
									visibility: visible;
									margin-top: 0;
								}
								& .homemenu-btn {
									opacity: 1;
									visibility: visible;
									bottom: 50%;
									transform: translateY(50%);
								}
							}
							img {
								width: 100%;
							}
						}
	
						.homemenu-title {
							text-align: center;
							margin: 15px auto;
							display: inline-block;
							font-size: 15px;
                            font-weight: 600;
                            font-family: $gt-body-font;
						}
					}
				}
			}
			
			&:hover {
				>a {
					color:  $gt-theme-color;

					&::after {
						color:  $gt-theme-color;
					}
				}
				>.submenu {
					visibility: visible;
					opacity: 1;
					transform: translateY(0px);
				}
			  }
			}
		}
	}

	.header-right {
		gap: 30px;

		@include breakpoint (max-xxl){
			gap: 20px;
		}

	}

	.sidebar__toggle {
		cursor: pointer;
		font-size: 20px;
	}
}

//>>>>> Header 01 Start <<<<<//
.header-1 {
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);

	.header-main {
	
	
		.main-menu {
			ul {
				
				li {
		
					a {
						
						&:hover {
							color: #FEBC5F !important;
						}
			
					}
					.submenu {
						border-top: 3px solid #FEBC5F;

						li {
							a {
							
								color: $gt-header-color;

								&::before {
								
									background: #FEBC5F;
								}

								&:hover {
									color: #FEBC5F !important;
								}
							}
						
							&:hover {
								>a {
									color: #FEBC5F !important;

									&::after {
										color: #FEBC5F;
									}
								}
							}
						}
						li.has-dropdown {
							>a {
								&::after {
									color: #FEBC5F;
								}
							}
						}
					}

					.has-homemenu {
						.homemenu-items {
							.homemenu {
								.homemenu-thumb {
									.demo-button {
										
			
										.theme-btn {
											color: $gt-header-color-3 !important;
											background: #FEBC5F !important;
											&:hover {
												background-color: $gt-header-color !important;
												color: $gt-header-color-3 !important;
											}
										}
									}
								}
			
								.homemenu-title {
									color: $gt-header-color !important;
								}
							}
						}
					}
					
					&:hover {
						>a {
							color:  #FEBC5F;

							&::after {
								color:  #FEBC5F;
							}
						}
					}
				}
			}
		}
	}

	.header-button {
		@include flex;
		gap: 20px;

		@include breakpoint (max-xl){
			display: none;
		}

		.gt-theme-btn {
			padding: 17px 24px;
			color: #fff;
			border-radius: 10px;
			border: 2px solid rgba(155, 160, 163, 0.20);
			background: transparent;

			&.style-bg {
				background: linear-gradient(90deg, #6B41FF 0%, #EA4BFF 52.98%, #FEBC5F 100%);
				border: none;
				padding: 19px 24px;

				&::after {
				content: "";
					position: absolute;
					top: 2px;
					bottom: 2px;
					left: 2px;
					right: 2px;
					background: #05111A;
					z-index: -1;
					border-radius: 10px;
				}

				&:hover {
					background: transparent;
					&::after {
						display: none;
					}
				}
			}

			&:hover {
				color: $gt-white;
			}
		}
	}

	.sidebar__toggle {
		cursor: pointer;
	
		.header-bar {
			position: relative;
			width: 40px;
			height: 11px;

			@include breakpoint (max-xxs){
				width: 25px;
			}
		
			span {
				position: absolute;
				width: 100%;
				height: 2px;
				display: inline-block;
				transition: all 0.3s;
				left: 0;
				background: $gt-white;
				overflow: hidden;
				&:first-child {
					top: 0;
					background: $gt-white;
					left: 0;
					width: 40px;

					@include breakpoint (max-xxs){
						width: 25px;
					}
				}
				&:last-child {
					bottom: 0;
					background: $gt-white;
					width: 40px;

					@include breakpoint (max-xxs){
						width: 25px;
					}
				}
			}
			&.active {
				span {
					&:first-child {
						transform: rotate(45deg) translate(3px, 9px);
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:last-child {
						transform: rotate(-45deg) translate(3px, -9px);
					}
				}
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
}

.header-2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;

	.header-button {
		@include flex;
		gap: 20px;

		
		@include breakpoint (max-xl){
			display: none;
		}

		.gt-theme-btn {
			padding: 0 30px;
			height: 48px;
			line-height: 48px;

			&.bg-border {
				background: transparent;
				border: 1px solid $gt-theme-color-2;
			}

			&.bg-theme {
				background-color: $gt-theme-color-2;
				color: $gt-header-color-2;

				&::before {
					background-color: $gt-white;
				}
			}
		}
	}

	.header-main {
	
	
		.main-menu {
			ul {
				
				li {
		
					a {
						
						&:hover {
							color: $gt-theme-color-2 !important;
						}
			
					}
					.submenu {
						color: $gt-header-color;
						border-top: 3px solid $gt-theme-color-2;
						background-color: #fff;
						box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

						li {
							a {
							
								color: $gt-header-color-2;

								&::before {
								
									background: $gt-theme-color-2;
								}

								&:hover {
									color: $gt-theme-color-2 !important;
								}
							}
						
							&:hover {
								>a {
									color: $gt-theme-color-2 !important;

									&::after {
										color: $gt-theme-color-2;
									}
								}
							}
						}
						li.has-dropdown {
							>a {
								&::after {
									color: $gt-theme-color-2;
								}
							}
						}
					}

					.has-homemenu {
						.homemenu-items {
							.homemenu {
								.homemenu-thumb {
									.demo-button {
										
			
										.theme-btn {
											color: $gt-header-color-3 !important;
											background: $gt-theme-color-2 !important;
											&:hover {
												background-color: $gt-header-color !important;
												color: $gt-header-color-3 !important;
											}
										}
									}
								}
			
								.homemenu-title {
									color: $gt-header-color-3;
								}
							}
						}
					}
					
					&:hover {
						>a {
							color:  $gt-theme-color-2;

							&::after {
								color:  $gt-theme-color-2;
							}
						}
					}
				}
			}
		}
	}

	.sidebar__toggle {
		cursor: pointer;
	
		.header-bar {
			position: relative;
			width: 40px;
			height: 11px;

			@include breakpoint (max-xxs){
				width: 25px;
			}
		
			span {
				position: absolute;
				width: 100%;
				height: 2px;
				display: inline-block;
				transition: all 0.3s;
				left: 0;
				background: $gt-white;
				overflow: hidden;
				&:first-child {
					top: 0;
					background: $gt-white;
					left: 0;
					width: 40px;

					@include breakpoint (max-xxs){
						width: 25px;
					}
				}
				&:last-child {
					bottom: 0;
					background: $gt-white;
					width: 40px;

					@include breakpoint (max-xxs){
						width: 25px;
					}
				}
			}
			&.active {
				span {
					&:first-child {
						transform: rotate(45deg) translate(3px, 9px);
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:last-child {
						transform: rotate(-45deg) translate(3px, -9px);
					}
				}
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
}

.header-3 {
	position: relative;
	

	.header-main {
		padding: 0;

		@include breakpoint (max-xl){
			padding: 10px 0;
		}

		.main-menu {
			ul {
				
				li {
		
					a {
						color: $gt-header-color-3;

						&:hover {
							color: $gt-theme-color-3 !important;
						}
			
					}
					.submenu {
						color: $gt-header-color;
						border-top: 3px solid $gt-theme-color-3;
						background-color: #fff;
						box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

						li {
							a {
							
								color: $gt-header-color-3;

								&::before {
								
									background: $gt-theme-color-3;
								}

								&:hover {
									color: $gt-theme-color-3 !important;
								}
							}
						
							&:hover {
								>a {
									color: $gt-theme-color-3 !important;

									&::after {
										color: $gt-theme-color-3;
									}
								}
							}
						}
						li.has-dropdown {
							>a {
								&::after {
									color: $gt-theme-color-3;
								}
							}
						}
					}

					.has-homemenu {
						.homemenu-items {
							.homemenu {
								.homemenu-thumb {
									.demo-button {
										
			
										.theme-btn {
											color: $gt-white !important;
											background: $gt-theme-color-3 !important;
											&:hover {
												background-color: $gt-header-color !important;
												color: $gt-header-color-3 !important;
											}
										}
									}
								}
			
								.homemenu-title {
									color: $gt-header-color-3;
								}
							}
						}
					}
					
					&:hover {
						>a {
							color:  $gt-theme-color-3;

							&::after {
								color:  $gt-theme-color-3;
							}
						}
					}
				}
			}
		}
	}

	.header-button {
		@include flex;
		gap: 20px;

		@include breakpoint(max-xl){
			display: none;
		 }

		.gt-theme-btn {
			padding: 0 28px;
			height: 49px;
			line-height: 49px;
			&::before {
				background-color: $gt-header-color-3;
			}

			&:hover {
				color: $gt-white;
			}

			&.bg-border {
				background: transparent;
				border-radius: 6px;
				border: 1px solid rgba(5, 17, 26, 0.20);
				color: $gt-header-color-3;

				&::before {
					background-color: $gt-theme-color-3;
				}

				&:hover {
					color: $gt-white;
				}
			}
		}
	}

	.sidebar__toggle {
		cursor: pointer;
	
		.header-bar {
			position: relative;
			width: 40px;
			height: 11px;

			@include breakpoint (max-xxs){
				width: 25px;
			}
		
			span {
				position: absolute;
				width: 100%;
				height: 2px;
				display: inline-block;
				transition: all 0.3s;
				left: 0;
				background: $gt-header-color-3;
				overflow: hidden;
				&:first-child {
					top: 0;
					background: $gt-header-color-3;
					left: 0;
					width: 40px;

					@include breakpoint (max-xxs){
						width: 25px;
					}
				}
				&:last-child {
					bottom: 0;
					background: $gt-header-color-3;
					width: 40px;

					@include breakpoint (max-xxs){
						width: 25px;
					}
				}
			}
			&.active {
				span {
					&:first-child {
						transform: rotate(45deg) translate(3px, 9px);
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:last-child {
						transform: rotate(-45deg) translate(3px, -9px);
					}
				}
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
}

.header-4 {
	position: absolute;
	z-index: 9999;
	left: 0;
	width: 100%;

	.header-main {
		.main-menu {
			ul {
				
				li {
		
					a {
						color: $gt-header-color-3;

						&:hover {
							color: $gt-theme-color-4 !important;
						}
			
					}
					.submenu {
						color: $gt-header-color;
						border-top: 3px solid $gt-theme-color-4;
						background-color: #fff;
						box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

						li {
							a {
							
								color: $gt-header-color-3;

								&::before {
								
									background: $gt-theme-color-4;
								}

								&:hover {
									color: $gt-theme-color-4 !important;
								}
							}
						
							&:hover {
								>a {
									color: $gt-theme-color-4 !important;

									&::after {
										color: $gt-theme-color-4;
									}
								}
							}
						}
						li.has-dropdown {
							>a {
								&::after {
									color: $gt-theme-color-4;
								}
							}
						}
					}

					.has-homemenu {
						.homemenu-items {
							.homemenu {
								.homemenu-thumb {
									.demo-button {
										
			
										.theme-btn {
											color: $gt-white !important;
											background: $gt-theme-color-4 !important;
											&:hover {
												background-color: $gt-header-color !important;
												color: $gt-header-color-3 !important;
											}
										}
									}
								}
			
								.homemenu-title {
									color: $gt-header-color-3;
								}
							}
						}
					}
					
					&:hover {
						>a {
							color:  $gt-theme-color-4;

							&::after {
								color:  $gt-theme-color-4;
							}
						}
					}
				}
			}
		}
	}

	.header-button {
		@include flex;
		gap: 20px;

		@include breakpoint(max-xl){
			display: none;
		 }

		.gt-theme-btn {
			padding: 0 32px;
			height: 48px;
			line-height: 48px;

			&::before {
				background-color: $gt-header-color-3;
			}

			&:hover {
				color: $gt-white;
			}

			&.bg-border {
				background: transparent;
				border-radius: 6px;
				border: 1px solid rgba(5, 17, 26, 0.20);
				color: $gt-header-color-3;

				&::before {
					background-color: $gt-theme-color-4;
				}

				&:hover {
					color: $gt-white;
				}
			}

			&.bg-theme {
				background-color: $gt-theme-color-4;
			}
		}
	}

	.sidebar__toggle {
		cursor: pointer;
	
		.header-bar {
			position: relative;
			width: 40px;
			height: 11px;

			@include breakpoint (max-xxs){
				width: 25px;
			}
		
			span {
				position: absolute;
				width: 100%;
				height: 2px;
				display: inline-block;
				transition: all 0.3s;
				left: 0;
				background: $gt-header-color-3;
				overflow: hidden;
				&:first-child {
					top: 0;
					background: $gt-header-color-3;
					left: 0;
					width: 40px;

					@include breakpoint (max-xxs){
						width: 25px;
					}
				}
				&:last-child {
					bottom: 0;
					background: $gt-header-color-3;
					width: 40px;

					@include breakpoint (max-xxs){
						width: 25px;
					}
				}
			}
			&.active {
				span {
					&:first-child {
						transform: rotate(45deg) translate(3px, 9px);
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:last-child {
						transform: rotate(-45deg) translate(3px, -9px);
					}
				}
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
}

.header-5 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;

	.header-logo {
		display: none;
	}

	.header-button {
		@include flex;
		gap: 20px;

		@include breakpoint(max-xl){
			display: none;
		 }

		.gt-theme-btn {
			padding: 16px 32px;
			
			

			&.bg-border {
				background: transparent;
				border-radius: 6px;
				border: 1px solid rgba(255, 255, 255, 0.20);
				color: $gt-white;

				&:hover {
					color: $gt-header-color-3;
				}
			}

			&.bg-theme {
				background-color: #A0EA71;
				color: $gt-header-color-3;
			}
		}
	}

	.header-main {
		.main-menu {
			ul {
				
				li {
		
					a {
						color: $gt-white;

						&:hover {
							color: #A0EA71 !important;
						}
			
					}
					.submenu {
						color: $gt-header-color;
						border-top: 3px solid $gt-theme-color-5;
						background-color: #fff;
						box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

						li {
							a {
							
								color: $gt-header-color-3;

								&::before {
								
									background: #A0EA71;
								}

								&:hover {
									color: #A0EA71!important;
								}
							}
						
							&:hover {
								>a {
									color: #A0EA71 !important;

									&::after {
										color: #A0EA71;
									}
								}
							}
						}
						li.has-dropdown {
							>a {
								&::after {
									color: #A0EA71;
								}
							}
						}
					}

					.has-homemenu {
						.homemenu-items {
							.homemenu {
								.homemenu-thumb {
									.demo-button {
										
			
										.theme-btn {
											color: $gt-header-color-3 !important;
											background: #A0EA71 !important;
											&:hover {
												background-color: $gt-header-color !important;
												color: $gt-header-color-3 !important;
											}
										}
									}
								}
			
								.homemenu-title {
									color: $gt-header-color-3;
								}
							}
						}
					}
				}
			}
		}
	}

	.sidebar__toggle {
		cursor: pointer;
	
		.header-bar {
			position: relative;
			width: 40px;
			height: 11px;

			@include breakpoint (max-xxs){
				width: 25px;
			}
		
			span {
				position: absolute;
				width: 100%;
				height: 2px;
				display: inline-block;
				transition: all 0.3s;
				left: 0;
				background: $gt-header-color;
				overflow: hidden;
				&:first-child {
					top: 0;
					background: $gt-header-color;
					left: 0;
					width: 40px;

					@include breakpoint (max-xxs){
						width: 25px;
					}
				}
				&:last-child {
					bottom: 0;
					background: $gt-header-color;
					width: 40px;

					@include breakpoint (max-xxs){
						width: 25px;
					}
				}
			}
			&.active {
				span {
					&:first-child {
						transform: rotate(45deg) translate(3px, 9px);
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:last-child {
						transform: rotate(-45deg) translate(3px, -9px);
					}
				}
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
}

//>>>>> Sticky Start <<<<</
.sticky {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	width: 100%;
	z-index: 9999;
	transition: all 0.9s;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;


    &.header-1 {
        background-color: #0B0E13;
		-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
		animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
		box-shadow: rgba(0, 0, 0, 0.9) 0px 8px 24px;
    }

	&.header-2 {
		background-color: #0B0E13;
        box-shadow: rgba(0, 0, 0, 0.9) 0px 8px 24px;
	}

	&.header-3 {
	   background-color: $gt-white;
	   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		z-index: 9999;
	}

	&.header-4 {
		 background: $gt-white !important;
	   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	
	}

	&.header-5 {
	   background-color: $gt-white;
	   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		
	   .header-logo {
			display: block;
	   }

	   .white-logo {
			display: none;
	   }

	   .main-menu {
			ul {
				
				li {
		
					a {
						color: $gt-header-color-3;

						&:hover {
							color: $gt-theme-color-5 !important;
						}
			
					}
					.submenu {
						color: $gt-header-color;
						border-top: 3px solid $gt-theme-color-5;
						background-color: #fff;
						box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

						li {
							a {
							
								color: $gt-header-color-3;

								&::before {
								
									background: $gt-theme-color-5;
								}

								&:hover {
									color: $gt-theme-color-5 !important;
								}
							}
						
							&:hover {
								>a {
									color: $gt-theme-color-5 !important;

									&::after {
										color: $gt-theme-color-5;
									}
								}
							}
						}
						li.has-dropdown {
							>a {
								&::after {
									color: $gt-theme-color-5;
								}
							}
						}
					}

					.has-homemenu {
						.homemenu-items {
							.homemenu {
								.homemenu-thumb {
									.demo-button {
										
			
										.theme-btn {
											color: $gt-white !important;
											background: $gt-theme-color-5 !important;
											&:hover {
												background-color: $gt-header-color !important;
												color: $gt-header-color-3 !important;
											}
										}
									}
								}
			
								.homemenu-title {
									color: $gt-header-color-3;
								}
							}
						}
					}
					
					&:hover {
						>a {
							color:  $gt-theme-color-5;

							&::after {
								color:  $gt-theme-color-5;
							}
						}
					}
				}
			}
		}

		.header-button {
		

		.gt-theme-btn {
			
			&.bg-border {
				border: 1px solid rgba(0, 0, 0, 0.20);
				color: $gt-header-color-3;

				&::before {
					background-color: $gt-theme-color-5;
				}

				&:hover {
					color: $gt-header-color;
					
				}
			}

			&.bg-theme {
				&::before {
					background-color: $gt-header-color-3;
				}

				&:hover {
					color: $gt-white;
				}
			}
		}
		}

		.sidebar__toggle {
		cursor: pointer;
	
		.header-bar {
			position: relative;
			width: 40px;
			height: 11px;

			@include breakpoint (max-xxs){
				width: 25px;
			}
		
			span {
				position: absolute;
				width: 100%;
				height: 2px;
				display: inline-block;
				transition: all 0.3s;
				left: 0;
				background: $gt-header-color-3;
				overflow: hidden;
				&:first-child {
					top: 0;
					background: $gt-header-color-3;
					left: 0;
					width: 40px;

					@include breakpoint (max-xxs){
						width: 25px;
					}
				}
				&:last-child {
					bottom: 0;
					background: $gt-header-color-3;
					width: 40px;

					@include breakpoint (max-xxs){
						width: 25px;
					}
				}
			}
			&.active {
				span {
					&:first-child {
						transform: rotate(45deg) translate(3px, 9px);
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:last-child {
						transform: rotate(-45deg) translate(3px, -9px);
					}
				}
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
	}
}

//>>>>> Offcanvas Start <<<<<//
.offcanvas__info {
	background-color: #0B0E13;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 8px 24px;
	border-left: 2px solid  $gt-theme-color;
	position: fixed;
	right: 0;
	top: 0;
	width: 400px;
	height: 100%;
	-webkit-transform: translateX(calc(100% + 80px));
	-moz-transform: translateX(calc(100% + 80px));
	-ms-transform: translateX(calc(100% + 80px));
	-o-transform: translateX(calc(100% + 80px));
	transform: translateX(calc(100% + 80px));
	-webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	-moz-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	z-index: 9999999;
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scrollbar-width: none;

	.offcanvas__logo {
		@include breakpoint (max-sm){
			img {
				width: 140px;
			}
		}
	}
	&::-webkit-scrollbar {
		display: none;
	}

	&.style-2 {
		background-color: $gt-white !important;

		.offcanvas__wrapper {
			.offcanvas__content {
				

				.offcanvas__close {
					background-color: $gt-theme-color-2;

					i {
						color: $gt-header-color-2;
					}
				}

				.offcanvas__contact {

					ul {
					
						li {
							a {
								color: $gt-header-color-2;
							}

							.offcanvas__contact-icon {
								margin-right: 20px;

								i {
									color: $gt-theme-color-2;
								}
							}
						}
					}

					span {
						text-transform: initial;
					}

					.header-button {
						
						.theme-btn {
							width: 100%;
							padding: 20px 40px;
							text-transform: capitalize !important;
						}
					}

					.social-icon {
						margin-top: 30px;
						gap: 10px;

						a {
							width: 45px;
							height: 45px;
							line-height: 45px;
							text-align: center;
							font-size: 16px;
							display: block;
							background: transparent;
							color: $gt-header-color-2;
							-webkit-transition: all .4s ease-in-out;
							transition: all .4s ease-in-out;
							text-align: center;
							border-radius: 50%;
							border: 1px solid rgba(121, 113, 113, 0.2) !important;

							&:hover {
								background-color: $gt-theme-color-2;
								color: $gt-header-color-2;
							}
						}
					}
				}

				.gt-theme-btn {
					background: $gt-theme-color-2;
					color: $gt-header-color-2;

					&::after {
						display: none;
					}

					&::before {
						background-color: $gt-header-color-2;
					}

					&:hover {
						background: transparent;
						color: $gt-white;
						&::after {
							display: none;
						}
					}
				}
			}
		}

	}

	&.style-3 {
		background-color: $gt-white !important;

		.offcanvas__wrapper {
			.offcanvas__content {
				

				.offcanvas__close {
					background-color: $gt-theme-color-3;

					i {
						color: $gt-white;
					}
				}

				.offcanvas__contact {

					ul {
					
						li {
							a {
								color: $gt-header-color-2;
							}

							.offcanvas__contact-icon {
								margin-right: 20px;

								i {
									color: $gt-theme-color-3;
								}
							}
						}
					}

					span {
						text-transform: initial;
					}

					.header-button {
						
						.theme-btn {
							width: 100%;
							padding: 20px 40px;
							text-transform: capitalize !important;
						}
					}

					.social-icon {
						margin-top: 30px;
						gap: 10px;

						a {
							width: 45px;
							height: 45px;
							line-height: 45px;
							text-align: center;
							font-size: 16px;
							display: block;
							background: transparent;
							color: $gt-header-color-2;
							-webkit-transition: all .4s ease-in-out;
							transition: all .4s ease-in-out;
							text-align: center;
							border-radius: 50%;
							border: 1px solid rgba(121, 113, 113, 0.2) !important;

							&:hover {
								background-color: $gt-theme-color-3;
								color: $gt-white;
							}
						}
					}
				}

				.gt-theme-btn {
					background: $gt-theme-color-3;
					color: $gt-white;
					border-radius: 6px;

					&::after {
						display: none;
					}

					&::before {
						background-color: $gt-header-color-3;
					}

					&:hover {
						background: transparent;
						color: $gt-white;
						&::after {
							display: none;
						}
					}
				}
			}
		}

	}

	&.style-4 {
		background-color: $gt-white !important;

		.offcanvas__wrapper {
			.offcanvas__content {
				

				.offcanvas__close {
					background-color: $gt-theme-color-4;

					i {
						color: $gt-white;
					}
				}

				.offcanvas__contact {

					ul {
					
						li {
							a {
								color: $gt-header-color-3;
							}

							.offcanvas__contact-icon {
								margin-right: 20px;

								i {
									color: $gt-theme-color-4;
								}
							}
						}
					}

					span {
						text-transform: initial;
					}

					.header-button {
						
						.theme-btn {
							width: 100%;
							padding: 20px 40px;
							text-transform: capitalize !important;
						}
					}

					.social-icon {
						margin-top: 30px;
						gap: 10px;

						a {
							width: 45px;
							height: 45px;
							line-height: 45px;
							text-align: center;
							font-size: 16px;
							display: block;
							background: transparent;
							color: $gt-header-color-3;
							-webkit-transition: all .4s ease-in-out;
							transition: all .4s ease-in-out;
							text-align: center;
							border-radius: 50%;
							border: 1px solid rgba(121, 113, 113, 0.2) !important;

							&:hover {
								background-color: $gt-theme-color-4;
								color: $gt-white;
							}
						}
					}
				}

				.gt-theme-btn {
					background: $gt-theme-color-4;
					color: $gt-white;
					border-radius: 6px;

					&::after {
						display: none;
					}

					&::before {
						background-color: $gt-header-color-3;
					}

					&:hover {
						background: transparent;
						color: $gt-white;
						&::after {
							display: none;
						}
					}
				}
			}
		}

	}

	&.style-5 {
		background-color: $gt-white !important;

		.offcanvas__wrapper {
			.offcanvas__content {
				

				.offcanvas__close {
					background-color: $gt-theme-color-5;

					i {
						color: $gt-white;
					}
				}

				.offcanvas__contact {

					ul {
					
						li {
							a {
								color: $gt-header-color-3;
							}

							.offcanvas__contact-icon {
								margin-right: 20px;

								i {
									color: $gt-theme-color-5;
								}
							}
						}
					}

					span {
						text-transform: initial;
					}

					.header-button {
						
						.theme-btn {
							width: 100%;
							padding: 20px 40px;
							text-transform: capitalize !important;
						}
					}

					.social-icon {
						margin-top: 30px;
						gap: 10px;

						a {
							width: 45px;
							height: 45px;
							line-height: 45px;
							text-align: center;
							font-size: 16px;
							display: block;
							background: transparent;
							color: $gt-header-color-3;
							-webkit-transition: all .4s ease-in-out;
							transition: all .4s ease-in-out;
							text-align: center;
							border-radius: 50%;
							border: 1px solid rgba(121, 113, 113, 0.2) !important;

							&:hover {
								background-color: $gt-theme-color-5;
								color: $gt-white;
							}
						}
					}
				}

				.gt-theme-btn {
					background: $gt-theme-color-5;
					color: $gt-white;
					border-radius: 6px;

					&::after {
						display: none;
					}

					&::before {
						background-color: $gt-header-color-3;
					}

					&:hover {
						background: transparent;
						color: $gt-white;
						&::after {
							display: none;
						}
					}
				}
			}
		}

	}
}

.offcanvas__info.info-open {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.offcanvas__wrapper {
	position: relative;
	height: 100%;
	padding: 30px 30px;

	.offcanvas__content {
		h4 {
			font-family: $gt-body-font;
			font-size: 22px;
		}
		.text {
			color: $gt-text-color;
		}

		.offcanvas__close {
			width: 45px;
			height: 45px;
			line-height: 45px;
			text-align: center;
			border-radius: 50%;
			background-color: $gt-theme-color;
			position: relative;
			z-index: 9;
			cursor: pointer;

			i {
				color: $gt-white;
			}
		}

		.offcanvas__contact {
			margin-top: 20px;

			ul {
				margin-top: 20px;

				li {
					font-size: 18px;
					font-weight: 400;
					text-transform: capitalize;
					font-family: $gt-body-font;

					a {
						color: $gt-white;
					}

					&:not(:last-child){
						margin-bottom: 15px;
					}

					.offcanvas__contact-icon {
						margin-right: 20px;

						i {
							color: $gt-theme-color;
						}
					}
				}
			}

			span {
				text-transform: initial;
			}

			.header-button {
				
				.theme-btn {
					width: 100%;
					padding: 20px 40px;
					text-transform: capitalize !important;
				}
			}

			.social-icon {
                margin-top: 30px;
                gap: 10px;

                a {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    font-size: 16px;
                    display: block;
                    background: transparent;
                    color: $gt-header-color;
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    text-align: center;
					border-radius: 50%;
					border: 1px solid rgba(121, 113, 113, 0.2) !important;

                    &:hover {
                        background-color: $gt-theme-color;
                        color: $gt-white;
                    }
                }
            }
		}

		.gt-theme-btn {
            background: linear-gradient(90deg, #6B41FF 0%, #EA4BFF 52.98%, #FEBC5F 100%);
            border: none;
			font-size: 16px;
        	padding: 20px;
			width: 100%;
			text-align: center;

            &::after {
               content: "";
                position: absolute;
                top: 2px;
                bottom: 2px;
                left: 2px;
                right: 2px;
                background: #000;
                z-index: -1;
                border-radius: 10px;
            }

            &:hover {
                background: transparent;
                &::after {
                    display: none;
                }
            }
        }
	}
}

.offcanvas__overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #151515;
	z-index: 900;
	top: 0;
	opacity: 0;
	visibility: hidden;
	right: 0;
}

.offcanvas__overlay.overlay-open {
	opacity: 0.8;
	visibility: visible;
}

@media (max-width:450px) {
	.offcanvas__info {
		width: 300px;
	}
}

@media (max-width: 575px) {
	.offcanvas__wrapper {
		padding: 20px;
	}
}


//>>>>> Breadcrumb Start <<<<<//
.gt-breadcrumb-wrapper{
	position: relative;
	overflow: hidden;
    z-index: 9;

	.gt-page-heading{
		position: relative;
		padding: 120px 0 120px;
		z-index: 9;
        text-align: center;

		@include breakpoint (max-md){
			text-align: center;
		}

		h1 {
			color: $gt-white;
			font-size: 72px;
			position: relative;
			text-transform: capitalize;
			z-index: 9;
			text-align: center;
			font-weight: 700;
			letter-spacing: 0.36px;
			font-family: $gt-heading-font-3;
		
		
			@include breakpoint(max-md){
				font-size: 60px;
			}
		
			@include breakpoint(max-sm){
				font-size: 50px;
			}
		
			@include breakpoint(max-xxs){
				font-size: 40px;
			}
		}

		.gt-breadcrumb-items{
			display: inline-flex;
            justify-content: center;
			margin-top: 20px;
			gap: 10px;

			@include breakpoint (max-sm){
				margin-top: 15px;
			}
			
			li{
				color: $gt-white;
				text-transform: capitalize;
				font-weight: 400;
				font-size: 16px;
	
				a {
					color: $gt-white;				;
					@include transition;
	
					&:hover{
						color: $gt-theme-color;
					}

					i {
						color: $gt-theme-color;
						margin-right: 5px;
					}
				}
	
				i {
					color: $gt-white;
				}
			}
		}
	}

	.gt-breadcrumb-image {
		position: absolute;
		bottom: 0;
		top: 0;
		right: 140px;

		@include breakpoint (max-xxxl){
			right: 30px;
		}

		@include breakpoint (max-xl){
			display: none;
		}
	}

	.breadcrumb-shape {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.gt-error-items {
	text-align: center;
    position: relative;

	.gt-error-image {
		margin-bottom: 50px;

        img {
			@include imgw;
		}
	}

	h2 {
		margin-bottom: 15px;
		color: $gt-header-color-3;
		font-family: $gt-heading-font-3;
        font-weight: 700;

		span {
			font-size: 72px;
		
			@include breakpoint(max-xl){
				font-size: 60px;
			}
		
			@include breakpoint(max-lg){
				font-size: 50px;
			}
		
			@include breakpoint(max-md){
				font-size: 32px;
			}
		
			@include breakpoint(max-sm){
				font-size: 28px;
			}
		}
	}

	p {
		margin-bottom: 48px;

		@include breakpoint(max-md){
			margin-bottom: 30px;
		}
	}

	.gt-theme-btn {

		.gt-icon-btn {
			background-color: $gt-header-color;

			&::after {
				background-color: $gt-theme-color;
			}
		}
	}
}

.gt-coming-soon-items {
    text-align: center;
    margin-bottom: 50px;

    @include breakpoint (max-xl) {
        margin-bottom: 0;
    }

    h2 {
        margin-top: 24px;
        margin-bottom: 10px;
    }

    form {
        max-width: 540px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .form-clt {
        position: relative;
        margin-top: 40px;

        input {
            width: 100%;
            outline: none;
            border: none;
            background-color: $gt-bg-color;
            line-height: 1;
            padding: 20px;
            max-width: 540px;
        }

        .gt-theme-btn {
            position: absolute;
            top: 4px;
            right: 4px;
            bottom: 4px;
            text-align: center;
            
            .gt-text-btn {
                background-color: $gt-header-color;

                &::after {
                    background-color: $gt-theme-color;
                }
            }

            @include breakpoint (max-xxs){
                position: static;
                margin-top: 20px;
            }
        }
    } 

    .gt-social-icon {
        gap: 15px;
        margin-top: 40px;
        justify-content: center;

        a {
            display: inline-block;
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            background-color: $gt-bg-color;
            color: $gt-header-color;

            &:hover {
                background-color: $gt-theme-color;
                color: $gt-white;
            }
        }
    }
}

.gt-coming-soon-section {
    position: relative;

    .left-shape {
        position: absolute;
        left: 0;
        bottom: 0;

        @include breakpoint (max-xl) {
            display: none;
        }

        img {
            @include imgw;
        }
    }

    .right-shape {
        position: absolute;
        right: 0;
        top: 0;

        @include breakpoint (max-xl) {
            display: none;
        }
    }

    .bottom-shape {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        @include breakpoint (max-xl) {
            display: none;
        }
    }
}


.gt-error-items {
	text-align: center;

	.gt-error-image {
		margin-bottom: 50px;
		position: relative;
		z-index: 9;

		@include breakpoint (max-xl) {
			margin-bottom: 40px;
		}

        img {
			@include imgw;
		}
	}

	h2 {
		margin-bottom: 20px;
		font-size: 56px;
		font-style: italic;
	}

	p {
		margin-bottom: 48px;

		@include breakpoint (max-xl) {
			margin-bottom: 30px;
		}
	}

	.gt-theme-btn {
		background: linear-gradient(90deg, #6B41FF 0%, #EA4BFF 52.98%, #FEBC5F 100%);
		border: none;

		&::after {
			background: linear-gradient(90deg, #6B41FF 0%, #EA4BFF 52.98%, #FEBC5F 100%);
		}
	}
}

.header-top-3 {
	background-color: #05111A;
	text-align: center;
	padding: 12px 0;
	position: relative;
	z-index: 99;

	p {
		font-size: 14px;
		font-weight: 500;
		text-transform: capitalize;
		color: rgba(255, 255, 255, 1);

		a {
			display: inline-block;
			border-radius: 4px;
			background: rgba(255, 255, 255, 0.15);
			padding: 8px 10px;
			line-height: 1;
			margin-left: 10px;

			&:hover {
				background-color: $gt-theme-color-3;
			}
		}
	}
}

.header-3 {
	position: relative;
	z-index: 99;
}