.gt-hero-1 {
    padding: 180px 0 0;
    position: relative;
    overflow: hidden;

    .top-shape {
        position: absolute;
        top: -29px;
        left: -36px;

         @include breakpoint(max-xxl){
           display: none;
        }
    }

    .robot-shape{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 999;

       @include breakpoint(max-xxxl){
           max-width: 450px;

           img {
            @include imgw;
           }
        }

        @include breakpoint(max-xxl){
           display: none;
        }
    }

    .left-shape  {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        @include breakpoint(max-xxl){
           display: none;
        }
    }

    .right-shape  {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 9;
    }

    .gt-hero-items {
        position: relative;
        z-index: 99;

        .shape2 {
            position: absolute;
            top: -50px;
            right: -55px;

            @include breakpoint (max-xxl){
                display: none;
            }
        }

        .border-shape {
            position: absolute;
            top: -17px;
            right: -17px;
            bottom: 0;

             @include breakpoint (max-xxl){
                   display: none;
                }
            
            img {
                border-radius: 20px 20px 0 0;
            }
        }

        .box-shape {
            position: absolute;
            top: -15%;
            left: 21%;
            z-index: -1;
            opacity: .4;
        }

        .gt-hero-content {
            max-width: 895px;
            margin: 0 auto 70px;
            text-align: center;
            z-index: 99;

            p {
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 10px;
            }

            h1 {
                margin-bottom: 30px;

                color: #FFF;
                font-size: 60px;
                font-style: italic;
                font-weight: 400;

                @include breakpoint (max-xl){
                    font-size: 58px;
                }

                @include breakpoint (max-md){
                    font-size: 52px;
                }

                @include breakpoint (max-sm){
                    font-size: 45px;
                }

                @include breakpoint (max-xxs){
                    font-size: 38px;
                }

                span {
                    background: linear-gradient(90deg, #6B41FF 32.8%, #EA4BFF 57.18%, #FEBC5F 82.28%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: $gt-heading-font;
                    font-style: italic;
                    font-weight: 400;
                }

                b {
                    font-weight: 400;
                }
            }

            .gt-theme-btn {
                    padding: 18px 22px;
            }
        }

        .gt-hero-image {
            max-width: 1170px;
            text-align: center;
            margin: 0 auto;
            padding: 17px;
            position: relative;
            margin-bottom: -20px;
            border-radius: 10px 10px 0 0;
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(250px);

            .bg-gradient-color {
               position: absolute;
               top: -60%;
               left: 0;

                 @include breakpoint (max-xxl){
                   display: none;
                }
            }

            img {
                @include imgw;
                border-radius: 10px 10px 0px 0px;
            }
        }
    }
}

.gt-hero-2 {
    padding: 250px 0 115px;
    position: relative;
    z-index: 9;

    .hero-left {
        position: absolute;
        left: 0;
        top: 50px;
        z-index: -1;

         @include breakpoint (max-xxl){
           display: none;
        }
    }

    .gradient-left {
        position: absolute;
        bottom: -20%;
        left: 0;
        z-index: -1;

         @include breakpoint (max-xxl){
           display: none;
        }
    }

    @include breakpoint (max-xxl){
        padding: 140px 0;
    }

    @include breakpoint (max-lg){
       padding-bottom: 0;
    }

    .gt-hero-content {
       position: relative;

       .shape4 {
            position: absolute;
            top: 40px;
            right: 4px;

            @include breakpoint (max-xxxl){
                display: none;
            }
        }

        .arrow-left {
            position: absolute;
            left: -150px;
            bottom: 0;
        }

        h6 {
            font-size: 14px;
            color: $gt-white;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1.6px;
            text-transform: uppercase;
            font-family: $gt-body-font;
            display: inline-block;
            margin-bottom: 10px;
            position: relative;
            z-index: 99;

            @include breakpoint (max-sm){
                font-size: 14px;
            }

            b {
                font-weight: 700;
                font-style: italic;
                color: $gt-theme-color-2;
            }
        }

        h1 {
            font-size: 80px;
            font-weight: 700;
            font-family: $gt-heading-font-2;
            position: relative;
            z-index: 99;

            @include breakpoint (max-xl){
                font-size: 62px;
            }

            @include breakpoint (max-md){
                font-size: 55px;
            }

             @include breakpoint (max-sm){
                font-size: 40px;
            }
        }

        p {
            max-width: 655px;
            color: #ECEDEA;
            margin-top: 20px;
            position: relative;
            z-index: 99;
        }

        .gt-hero-button {
            @include flex;
            gap: 16px;
            margin-top: 40px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                margin-top: 30px;
            }

            .gt-theme-btn {
                border: 1px solid transparent;
                height: 48px;
                line-height: 48px;
                padding: 0 30px;
                
                &.border-style {
                    border: 1px solid $gt-theme-color-2;
                    background-color: transparent;

                    i {
                        margin-left: 8px;
                    }
                }
            }
        }

        .gt-counter-items {
            @include flex;
            gap: 30px;
            padding-top: 150px;
            position: relative;
            z-index: 99;

            @include breakpoint (max-xxl){
              padding-top: 60px;
            }

            @include breakpoint (max-md){
              padding-top: 30px;
              flex-wrap: wrap;
              gap: 15px;
            }

            .gt-counter {
                border-right: 1px solid rgba(236, 237, 234, 0.25);
                padding-right: 30px;

                h3 {
                    font-size: 24px;
                    font-weight: 800;
                    font-family: $gt-body-font;
                }

                h5 {
                    font-size: 16px;
                    color: $gt-white;
                    text-transform: capitalize;
                    font-weight: 500;
                    font-family: $gt-body-font;
                    color: $gt-theme-color-2;
                    margin-top: 8px;
                }

                 &.border-right-none {
                    border-right: none;
                    padding-right: 0;
                }
            }
        }
    }

    .gt-hero-image {
        z-index: 99;
        position: absolute;
        bottom: 0;
        right: 148px;

        @include breakpoint (max-xxl){
            position: static;
            img {
                @include imgw;
            }
        }
    }

    .hero-animated-bg {
        display: block;
        width: 100%;
        min-height: 400px;
        overflow: hidden;
        position: absolute;
        inset-inline-start: 0;
        inset-inline-end: 0;
        inset-block-start: 0;
        height: 100%;
        z-index: 0;

        canvas {
            display: block;
            position: absolute;
            inset-inline-start: 0;
            inset-inline-end: 0;
            inset-block-start: 0;
            height: 100%;
            z-index: 1;
            opacity: 0;
            -webkit-transition: opacity 0.3s 0.3s;
            transition: opacity 0.3s 0.3s;
        }

        &.active {
            canvas {
            opacity: 1;
            }
        }
    }

}

.gt-hero-3 {
    position: relative;
    padding: 120px 0 0;
    z-index: 9;
    margin: 0 60px;
    overflow: hidden;

    &::after {
        width: 1350px;
        height: 1350px;
        content: "";
        top: 69%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.00) 30%);
        z-index: 1;
        position: absolute;

        @include breakpoint (max-xxl){
           display: none;
        }
    }

    @include breakpoint (max-xxxl){
        margin: 0 40px;
    }

    @include breakpoint (max-xxl){
        margin: 0 30px;
    }

    @include breakpoint (max-xl){
        margin: 0 20px;
    }

    
    .hero-circle-shape {
        position: absolute;
        left: 10.5%;
        z-index: -1;
        top: 50px;
         animation: cir36 30s linear infinite;

         @include breakpoint (max-xxxl){
           display: none;
        }
    }



    &::before {
        @include before;
        border-radius: 20px;
        background: linear-gradient(101deg, #124AFF 0%, #05111A 100%);
        height: calc(100% - 300px);
        z-index: -1;

        @include breakpoint (max-xl){
            height: 100%;
        }
    }

    .gt-hero-content {
        max-width: 850px;
        text-align: center;
        margin: 0 auto;
        position: relative;
        z-index: 99;

        h1 {
            font-weight: 800;
            font-size: 60px;
            line-height: 117%;
            font-family: $gt-heading-font-3;

            @include breakpoint (max-xl){
                font-size: 52px;
            }

            @include breakpoint (max-md){
                font-size: 48px;
            }

             @include breakpoint (max-sm){
                font-size: 40px;
            }

            @include breakpoint (max-xxs){
                font-size: 34px;
            }
        }

        p {
            color: $gt-white;
            margin-top: 15px;
        }

        form {
            max-width: 550px;
            width: 100%;
            margin: 50px auto 0;
            position: relative;

            input {
                border: none;
                outline: none;
                width: 100%;
                border-radius: 6px;
                background: #F4F4F4;
                padding: 22px 30px;
                line-height: 1;
                color: $gt-text-color;
                height: 55px;
            }

            button {
                position: absolute;
                top: 5px;
                right: 5px;
                bottom: 5px;
            }

            .gt-theme-btn {
                border: none;
                color: $gt-white;
                text-transform: capitalize;
                padding: 0 25px;
                height: 45px;
                line-height: 45px;
                border-radius: 6px;

                &::after {
                    display: none;
                }

                &::before {
                    background: $gt-theme-color-3;
                }
            }
        }

        ul {
            @include flex;
            justify-content: center;
            margin-top: 30px;
            gap: 15px;

            @include breakpoint (max-xl){
               flex-wrap: wrap;
               justify-content: start;
            }

            li {
                color: $gt-white;
                font-weight: 500;
                font-size: 14px;

                i {
                    margin-right: 5px;
                }
            }
        }
    }

    .gt-hero-image {
        max-width: 1010px;
        margin: 30px auto 0;
        position: relative;
        z-index: 9;

        img {
            @include imgw;
        }

        .gt-hero-left {
            position: absolute;
            max-width: 210px;
            position: absolute;
            top: 65px;
            left: -95px;
            transform: rotate(0deg);
            transition: transform 0.5s ease;
            z-index: -1;

             @include breakpoint (max-xxl){
              left: -20px;
            }

            @include breakpoint (max-xl){
                display: none;
            }
        }

        .gt-hero-right {
            position: absolute;
            max-width: 210px;
            position: absolute;
            top: 65px;
            right: -95px;
            transform: rotate(0deg);
            z-index: -1;
            transition: transform 0.5s ease;

             @include breakpoint (max-xxl){
             right: -20px;
            }

             @include breakpoint (max-xl){
                display: none;
            }
        }
    }
} 

.gt-hero-4 {
    padding: 280px 0 0;
    position: relative;
    z-index: 9;

    @include breakpoint (max-xxl){
        padding: 180px 0 0;
    }

    @include breakpoint (max-lg){
        padding: 150px 0 0;
    }

    .linear-color-1 {
        border-radius: 504px;
        background: rgba(68, 219, 253, 0.75);
        filter: blur(162px);
        width: 504px;
        height: 504px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

         @include breakpoint (max-xxl){
            display: none;
        }
    }

    .star1 {
        position: absolute;
        left: 120px;
        top: 42%;
    }

     .star2 {
        position: absolute;
       left: 65%;
       bottom: 40px;
    }

    .star3 {
        position: absolute;
        left: 70%;
        top: 50%;
    }

    .linear-color-2 {
        border-radius: 512px;
        background: #E77096;
        filter: blur(212px);
        width: 504px;
        height: 504px;
        position: absolute;
        top: 200px;
        right: 0;
        z-index: -1;
        width: 512px;
        height: 512px;

         @include breakpoint (max-xxl){
            display: none;
        }
    }

    .gt-boy-image {
        position: absolute;
        bottom: 60px;
        left: 60px;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .gt-girl-image {
        position: absolute;
        top: 170px;
        right: 60px;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .circle-hero {
        position: absolute;
        top: 15%;
        left: 30%;

         @include breakpoint (max-xxl){
            display: none;
        }
    }

    .hero-vec {
        position: absolute;
        bottom: 20%;
        left: 45%;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .gt-app-image {
        text-align: center;
        margin-top: -140px;
        position: relative;

        @include breakpoint (max-xl){
            margin-top: 0;

            img {
                @include imgw;
            }
        }
    }

    .gt-hero-content {
        position: relative;
        z-index: 99;

        h1 {
            color: $gt-header-color-3;
            font-family: $gt-heading-font-3;
            font-weight: 700;
            line-height: 118%;

            span {
                color: $gt-theme-color-4;
                font-family: "Pacifico", cursive;
            }
        }

        p {
            color: $gt-header-color-3;
            max-width: 550px;
            margin-top: 30px;

            @include breakpoint (max-lg){
               margin-top: 15px;
            }
        }

        .gt-hero-btn {
            @include flex;
            gap: 20px;
            margin-top: 40px;

            @include breakpoint (max-lg){
                margin-top: 25px;
                flex-wrap: wrap;
            }

            .gt-theme-btn {
                &.bg-white {
                    color: $gt-header-color-3;

                    &::before {
                        background-color: $gt-theme-color-4;
                    }

                    &:hover {
                        color: $gt-white;
                    }
                }
            }
        }
    }

    .gt-hero-info {
        position: absolute;
        right: 255px;
        bottom: 100px;

        @include breakpoint (max-xl4){
           right: 40px;
        }

        @include breakpoint (max-xxl){
           right: 0;
        }

        @include breakpoint (max-xl){
          display: none;
        }

        .client-image {
			@include flex;
			gap: 0;

			img {
				margin-right: -20px;
				border: 3px solid #fff;
				border-radius: 50%;
			}

			.icon {
				width: 48px;
				height: 48px;
				line-height: 45px;
				background-color: #F4F4F4;
				border-radius: 50%;
				text-align: center;
				color: $gt-theme-color-4;
				border: 3px solid #fff;
			}
		}

        .gt-info-img {
            border-radius: 70px;
            background: #FFF;
            display: inline-flex;
            padding: 12px;
            line-height: 1;
            align-items: center;
            gap: 12px;
        }

        p {
            color: $gt-header-color-3;
            max-width: 345px;
            margin-top: 30px;
        }
    }
}

// .hero-5 {
//     padding: 190px 0 0;
//     position: relative;
    

//     .mike-shape {
//         position: absolute;
//         top: 20%;
//         left: 20px;
        
//         &::before {
//             @include before;
//             width: 232px;
//             height: 232px;
//             background: linear-gradient(180deg, rgba(102, 166, 255, 0.50) -128.88%, rgba(255, 255, 255, 0.00) 83.84%);
//             border-radius: 50%;
//             top: 83%;
//             left: 15%;
//             transform: translate(-50%,-50%);
//         }

//         img {
//             animation: bounce-x 7s infinite linear;
//         }
//     }

//     .arrow-shape {
//         position: absolute;
//         bottom: 5%;
//         left: 3%;
//         animation: moving 7s infinite linear;
//     }

//     .energy-shape {
//         position: absolute;
//         right: 40px;
//         top: 15%;
//     }

//     .arrow-shape-2 {
//         position: absolute;
//         top: 50%;
//         right: 30px;
//         animation: moving 7s infinite linear;
//     }

//     .rocket-shape {
//         position: absolute;
//         bottom: 20px;
//         right: 20px;
//         z-index: 7;

//         &::before {
//             @include before;
//             width: 232px;
//             height: 232px;
//             background: linear-gradient(180deg, rgba(102, 166, 255, 0.50) -128.88%, rgba(255, 255, 255, 0.00) 83.84%);
//             border-radius: 50%;
//             top: 100%;
//             left: 50%;
//             transform: translate(-50%,-50%);
//             z-index: -1;
//         }
//     }

//     .container-fluid {
//         padding: 0 141px;

//         @include breakpoint (max-xxxl){
//             padding: 0 50px;
//         }

//         @include breakpoint (max-xxl){
//             padding: 0 40px;
//         }

//         @include breakpoint (max-xl){
//             padding: 0 30px;
//         }
//     }

//     .hero-title {
//        text-align: center;
//        position: relative;
//        z-index: 9;
//        margin-bottom: 50px;

//        @include breakpoint (max-xl){
//             img {
//                 @include imgw;
//             }
//        }
//     }

//     .hero-content {
//         position: relative;
//         z-index: 9;

//         span {
//             font-size: 20px;
//             font-weight: 600;
//             letter-spacing: 4px;
//             text-transform: uppercase;
//             color: $gt-white;
//             display: inline-block;
//             margin-bottom: 10px;
//         }

//         h1 {
//             color: $gt-white;
//             margin-bottom: 20px;
//         }

//         p {
//             color: $gt-white;
//             max-width: 510px;
//         }
//     }

//     .hero-image {
//         position: relative;
//         z-index: 8;
//         margin-left: -70px;

//         @include breakpoint (max-xxl){
//             margin-left: 0;

//             img {
//                 @include imgw;
//             }
//         }

//         .bg-shape {
//             position: absolute;
//             top: 70%;
//             left: 30%;
//             transform: translate(-50%,-50%);
//             z-index: -1;
//         }
//     }

//     .video-btn {
//         position: relative;
//         z-index: 9;
//         display: inline-block;
//         width: 151px;
//         height: 151px;
//         border: 0.5px solid $gt-white;
//         background: radial-gradient(157.24% 123.22% at 47.19% -0.63%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
//         backdrop-filter: blur(25px);
//         border-radius: 50%;
//         text-align: center;
//         line-height: 151px;
//         font-size: 24px;
//         color: $gt-white;

//         img {
//             animation: cir36 10s linear infinite;
//             position: absolute;
//             top: 12px;
//             left: 10px;
//         }
//     }

//     .video-right {
//         @include breakpoint (max-xl){
//            margin-bottom: 60px;
//         }

//         p {
//             font-weight: 500;
//             font-style: italic;
//             text-transform: capitalize;
//             line-height: 175%;
//             color: $gt-white;
//             margin-top: 30px;
//         }

//         .client-items{
//             margin-top: 30px;
//             position: relative;
//             z-index: 9;

//             .client-img {
//                 margin-top: 15px;
//                 @include flex;
//                 gap: 12px;

//                 .star-icon {
//                     .star {
//                         font-size: 14px;
//                         color: #FBB03B;
//                     }

//                     span {
//                         color: $gt-white;
//                         font-size: 14px;
//                         line-height: 1;
//                     }
//                 }
//             }
//         }
//     }
// }

.gt-hero-5 {
    padding: 250px 0 150px;
    position: relative;
    z-index: 99;

    @include breakpoint (max-xl){
        padding: 160px 0 140px;
    }

     @include breakpoint (max-md){
        padding: 140px 0 100px;
    }

    .power-shape {
        position: absolute;
        top: 100px;
        left: 70px;
        z-index: -1;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .mike-shape {
        position: absolute;
        bottom: 135px;
        right: 0;
        z-index: -1;

         @include breakpoint (max-xxxl){
          max-width: 500px;

          img {
            @include imgw;
          }
        }

         @include breakpoint (max-xl){
            display: none;
        }
    }

    .tophy-shape {
        position: absolute;
        bottom: 100px;
        left: 0;
        z-index: -1;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .mike-shape2 {
        position: absolute;
        bottom: 100px;
        left: 50%;

         @include breakpoint (max-xl){
            display: none;
        }
    }

    .marketing-shape {
        position: absolute;
        right: 25%;
        bottom: 30%;

         @include breakpoint (max-xl){
            display: none;
        }
    }

    .gt-hero-content {
        h6 {
            font-size: 16px;
            font-weight: 600;
            color: $gt-white;
            text-transform: uppercase;
            font-family: $gt-heading-font-5;
            letter-spacing: 3.2px;
            line-height: 1;
            border: 1px solid $gt-white;
            border-radius: 100px;
            border: 1px solid rgba(255, 255, 255, 0.20);
            display: inline-block;
            padding: 10px 16px;
            margin-bottom: 30px;
        }
        h1 {
            font-family: $gt-heading-font-5;
            font-size: 100px;
            font-weight: 700;
            line-height: 100%;

            @include breakpoint (max-xxxl){
                font-size: 81px;
            }

             @include breakpoint (max-xxl){
                font-size: 81px;
            }

            @include breakpoint (max-xl){
                font-size: 72px;
            }

            @include breakpoint (max-lg){
                font-size: 60px;
            }

            @include breakpoint (max-md){
                font-size: 48px;
            }

            @include breakpoint (max-sm){
                font-size: 38px;
            }

            span {
                color: #A0EA71;
            }
        }

        p {
            color: $gt-white;
            max-width: 500px;
            margin-top: 40px;
        }

         .gt-hero-btn {
            @include flex;
            gap: 20px;
            margin-top: 40px;

            @include breakpoint (max-lg){
                margin-top: 25px;
                flex-wrap: wrap;
            }

            .gt-theme-btn {
                background-color: #A0EA71;
                color: $gt-header-color-3;

                &.bg-white {
                    color: $gt-header-color-3;

                    &::before {
                        background-color: #A0EA71;
                    }

                    &:hover {
                         color: $gt-header-color-3;
                    }
                }
            }
        }
    }
}

.gt-pricing-section-2 {
    position: relative;
    z-index: 9;

    .dot-shape {
        position: absolute;
        top: 10%;
        left: 100px;
        bottom: 0;
        z-index: -1;
    }
}